* {
    margin: 0;
    padding: 0;
    background-color: rgb(69, 123, 157);  
    }
    
    body {
    display: flex;
    flex-direction: column;
    }
    
    .title-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    }
    .tlogo {
    height: 200px;
    }
    
    .tictacframe {
    margin-right: 75px;
    margin-bottom: 75px;
    margin-left: 75px;
    align-self: center;
    display: grid;
    width: 1200px;
    height: 830px;
    grid-template: 1fr / 1fr 750px 1fr;
    }
    
    form {
    display: flex;
    align-items: center;
    margin: 10px;
    }
    
    .playeronelogo {
    display: flex;
    border: none;
    align-items: center;
    }
    
    .playertwologo {
    display: flex;
    border: none;
    align-items: center;
    }
    
    .playerimage {
    height: 30px;
    align-self: center;
    }
    
    .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
    .player-symbol {
    font-family: Nunito, Arial, Sans-serif;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(230, 57, 70);
    }
    
    #player-one-name, #player-two-name {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 250, 238);
    font-size: 1.5rem;
    }
    
    input {
    background-color:  rgb(241, 250, 238) ;
    border: none;
    border-radius: 5px;
    height: 25px;
    padding-left: 10px;
    margin-right: 10px;
    }
    
    .result {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 250, 238);
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 600;
    }
    
    .game-area {
    background-color: rgb(241, 250, 238);
    display: grid;
    grid-template: 750px 1fr / 1fr;
    }
    
    .tictacblock {
    justify-self: center;
    align-self: center;
    display: grid;
    width: 700px;
    height: 700px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 50px;
    background-color: rgb(29, 53, 87);
    }
    
    .button {
    background-color: rgb(168, 218, 220);
    color: rgb(230, 57, 70);
    font-size: 9rem;
    font-family: Nunito;
    font-weight: 900;
    border: none;
    }
    
    .button:hover {
    background-color: rgb(168, 218, 220, .5);
    }
    
    .gameButtons {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 20px;
    }
    
    .startGame > button, .rematch > button, .restart > button {
    height: 50px;
    width: 200px;
    border: 2px solid rgb(241, 250, 238);
    color: rgb(241, 250, 238);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 1.5rem;
    }
    
    .startGame, .rematch, .restart {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    footer > a > img {
    width: 25px;
    margin: 5px;
    }
    
    button {
    cursor: pointer;
    }